@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --font01: font-family: 'Roboto', sans-serif;
    --font02: font-family: 'Titillium Web', sans-serif;
    
    --cor01: #fff;
    --cor02: rgba(37, 50, 116, 0.581);
    --cor03: rgba(43, 60, 146, 0.581);
    --cor04: rgb(232, 189, 163);

}
body, html{
    width: 100%;
    height: 100%;
}
body {
    overflow: overlay;
    background-color: var(--cor03);

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    font-family: var(--font01);
    background-color: var(--cor02);
}
.menuNav {
    margin-right: 20px;
    font-weight: 700;
    font-size: 1.3em;
    color: var(--cor01);
}
main {
   display: flex;
   flex-direction: column;
   gap: 32px;
   padding: 7%;
   margin: 10% 0 10% 0;
   

   
}
.tituloMain{
    background-color: aqua;
}
main h2 {
    color: var(--cor01);
    font-family: var(--font02);
    font-size: 1.8em;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}
.servicos > ul > li {
    color: var(--cor01);
    font-family: var(--font01);
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.7em;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: row;
    display: flex;

}
.sobre{
    max-width: 100%;
    height: 290px;
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;

}


.button {
    color: var(--cor01);
    background-color: var(--cor02);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1.2rem;
    padding: 24px 15px;
    border-radius: 32px;

    font-size: 1em;
    text-transform: uppercase;

    transition: 200ms ease;
    margin: auto;
}
.button:hover {
    background-color: rgb(17, 25, 58);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
    margin-top: 150px;
    padding: 32px;
    color: var(--cor01);
    line-height: 40px;
    background-color: var(--cor02);

}
.socialLinks {
    display: flex;
    flex-direction: row;
    gap: 32px;
   
  
}
